<mat-grid-list cols="18" rowHeight="100px" style="margin-top: 50px">
  <mat-grid-tile [rowspan]="25" colspan="2"></mat-grid-tile>
  <mat-grid-tile [rowspan]="7" colspan="14">
    <form class="example-form">
      <mat-form-field class="example-form" appearance="fill">
        <mat-label>Başlık</mat-label>
        <input #baslik value="{{Ilan.baslik}}" autocomplete="off" matInput />
      </mat-form-field>
      <mat-form-field class="example-form" appearance="fill">
        <mat-label>Açıklama</mat-label>
        <input #aciklama value="{{Ilan.aciklama}}" autocomplete="off" matInput />
      </mat-form-field>
      <mat-form-field class="example-form" appearance="fill">
        <mat-label>metrekare</mat-label>
        <input #metrekare value="{{Ilan.metrekare}}" autocomplete="off" matInput />
      </mat-form-field>
      <mat-form-field class="example-form" appearance="fill">
        <mat-label>Fiyat</mat-label>
        <input value="{{Ilan.fiyat}}" #fiyat type="number" autocomplete="off" matInput />
      </mat-form-field>
      <label for="">Satılık/Kiralık</label>
      <select #sk value="{{Ilan.durum}}" name="sk" style="width: 200px;margin-top: 15px;margin-left: 15px;">
        <option value="konut">Satılık</option>
        <option value="arsa">Kiralık</option>
      </select>
      <br>
      <label  for="">tür</label>
      <select value="{{Ilan.ilanTipi}}"  [(ngModel)]="tur" name="tur" style="width: 200px;margin-top: 15px;margin-left: 15px;">
        <option value="konut">konut</option>
        <option value="arsa">arsa</option>
        <option value="iş yeri">iş yeri</option>
      </select>
      <br>
      <select #oda value="{{Ilan.kat}}"  [ngClass]="tur=='konut' ? 'tur+' : 'tur-'" style="margin-top: 15px;">
        <option value="1+1">1+1</option>
        <option value="2+1">2+1</option>
        <option value="3+1">3+1</option>
        <option value="4+1">4+1</option>
        <option value="4+1>">4+1></option>
      </select>
      <br>
      <br>
      <label for="">Kat sayısı</label>
        <input  value="{{Ilan.katsayisi}}"  #katsayi type="number" style="margin-left: 15px;">
      <br>
      <br>
      <label for="">Bulunduğu Kat</label>
      <input  value="{{Ilan.bulundugukat}}"  #bulundugukat type="number" style="margin-left: 15px;">
 <!--    <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg" #image>-->
      <br>
      <br>
      <label for="">Krediye</label>
      <select #kredi  value="{{Ilan.kredi}}"   name="sk" style="width: 200px;margin-top: 15px;margin-left: 15px;">
        <option value="Uygun">Uygun</option>
        <option value="Uygun Değil">Uygun Değil</option>
      </select>
      <br>
      <br>
      <label for="">Eşyalı</label>
      <select  value="{{Ilan.esya}}"   #esya name="sk" style="width: 200px;margin-top: 15px;margin-left: 15px;">
        <option value="Evet">Evet</option>
        <option value="Hayır">Hayır</option>
      </select>
      <br>
      <br>
    </form></mat-grid-tile
  >
  <mat-grid-tile [rowspan]="25" colspan="2"></mat-grid-tile>
  <mat-grid-tile colspan="14">
    <h1>Özellikler</h1>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let item of ozellik" colspan="2">
    <button
      [ngClass]="ozellikler.indexOf(item) != -1 ? 'var' : 'yok'"
      (click)="ekle(item)"
    >
      {{ item }}
    </button>
  </mat-grid-tile>
  <mat-grid-tile colspan="14">
    <h1>Muhit</h1>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let item of muhit"  colspan="2">
    <button
      [ngClass]="muhits.indexOf(item) != -1 ? 'var' : 'yok'"
      (click)="ekleMuhits(item)"
    >
      {{ item }}
    </button>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let item of fotolar" colspan="3" [rowspan]="4">
    <img [src]="srvs.dosyaUrl+item"  style="width: 300px;height: 300px;margin: 10px;" alt="">
  </mat-grid-tile>
  <mat-grid-tile colspan="14">
    <button (click)="kaydet(baslik.value,aciklama.value,metrekare.value,fiyat.value,sk.value,oda.value,katsayi.value,bulundugukat.value,kredi.value,esya.value)"  mat-raised-button color="primary">Kaydet</button>
  </mat-grid-tile>
</mat-grid-list>
