.user{
  max-width: 50%;
  position: relative;
  left: 50%;
  margin-top: 50px;
  min-height: 100px;
  background-color: burlywood;
}
.notUser{
  max-width: 50%;
  position: relative;
  margin-top: 50px;
  min-height: 100px;
  background-color: aquamarine;
}

