<mat-grid-list style="margin-top: 50px" cols="10">
  <mat-grid-tile colspan="2"></mat-grid-tile>
  <mat-grid-tile colspan="6" style="min-height: 500px">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          autocomplete="off"
          matInput
          #maill
          [formControl]="emailFormControl"
          placeholder="Ex. pat@example.com"
        />
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
        >
          Lütfen geçerli bir mail adresi girin
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Mail adresi <strong>gereklidir</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-form" appearance="fill">
        <mat-label>Şifre</mat-label>
        <input matInput #sifre [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <button
        mat-flat-button
        (click)="login(maill.value, sifre.value)"
        color="primary"
      >
        giriş yap
      </button>
      <button
        mat-flat-button
        (click)="SifreUnuttum(maill.value)"
        color="warn"
        style="margin-left: 10px;"
        routerLink="/newpassword"
      >
        Şifremi unuttum
      </button>
    </form>
  </mat-grid-tile>
  <mat-grid-tile colspan="2"></mat-grid-tile>
</mat-grid-list>
